<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 thumbnail">
				<%= image_tag 'ehab-elia.jpg', alt:'edoss - portfolio ehab elia - dev&co', class:"img-size"%>
			</div>
			<div class="col-xs-12 col-md-6">
				<h2>Hello. My name is<br> <span class="hightlight">ehab elia</span></h2>
				
				<p>I was born in 1981 in Cairo - Egypt and moved to France in 2007. I worked in different fields like TV, Tourism and Marketing. I'm an adept of open source and militates for a fair sharing economy and society. I worked with <a href="http://ouishare.net/en", target="blank", class="btn-in-paragraph">OuiShare</a> on different projects as a Tech Lead.</p>

				<p>Conscious of the social and entreprenerial scope of coding, I joined <a href="https://www.lewagon.com/", target="blank", class="btn-in-paragraph">Le Wagon</a> and became a Fullstack developper Ruby on Rails.</p>


				<p class="bold">Now I'm building the first Physical Commuinty & Incubator for Developers.</p>

				<h2>
					<button class='btn-blue btn' data-toggle='modal' data-target="#login-modal"> Join Us </button>
				</h2>
			</div>
			<div data-backdrop="static" class="modal fade" id="login-modal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content" id="modal-style">
			        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			         <span aria-hidden="true">&times;</span>
			        </button>
			        <div class="row">
			          <div class="col-xs-12 col-md-8">
			            <h1 class="modal-title" id="myModalLabel">Stay tunned</h1>
			          </div>
			          <div class="col-xs-12 hidden-xs hidden-sm col-md-4">
			            <%= image_tag "account.png", class: "landing_img" %>
			          </div>
			        </div>
			        <div class="modal-body text-justify">
			          <!-- Your signup form -->
			         	<h2>Sign up</h2>
						<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<%= f.error_notification %>

				  		<div class="form-inputs">
						    <%= f.input :email, required: true, autofocus: true %>
						    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
						    <%= f.input :password_confirmation, required: true %>
						</div>

					 	<div class="form-actions">
					    	<%= f.button :submit, "Sign up" %>
					  	</div>
						<% end %>

<!-- 						<%= render "devise/shared/links" %> -->
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>	
		</div>
	</div>
</div>