<!DOCTYPE html>
<html>
  <head>
    <title>Ehab Elia</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Indie+Flower' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Google -->
    <!-- Mettez la balise html à jour pour inclure les attributs itemscope et itemtype. -->
    <html itemscope itemtype="http://schema.org/Other">

    <!-- Ajoutez les trois balises suivantes dans l'en-tête. -->
    <meta itemprop="name" content="Dev&amp;Co">
    <meta itemprop="description" content="Fullstack Web Developper Ruby on Rails - Hire me now">
    <meta itemprop="image" content="https://lh3.googleusercontent.com/-uuSr6utwkUU/AAAAAAAAAAI/AAAAAAAACKc/svot0dliqRI/s120-p-rw-no/photo.jpg">
    <meta name="description" content="Fullstack Developper Ruby on rails. I joined Le Wagon and became a Fullstack developper Ruby on Rails. Hire me now" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    <!-- Facebook -->
    <meta property="og:title" content="Fullstack Web Developper Ruby on Rails - Hire me now" />
<meta property="og:type" content="Fullstack Developper Ruby on rails. I joined Le Wagon and became a Fullstack developper Ruby on Rails. Hire me now" />
<meta property="og:url" content="http://www.devenco.eu" />
<meta property="og:image" content="https://lh3.googleusercontent.com/-uuSr6utwkUU/AAAAAAAAAAI/AAAAAAAACKc/svot0dliqRI/s120-p-rw-no/photo.jpg" />

    <!-- Tweeter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ehab_elia"/>
  
  </head>
  
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>
