<!DOCTYPE html>
<html>
  <head>
    <title>Ehab Elia</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Indie+Flower' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Google -->
    <!-- Mettez la balise html à jour pour inclure les attributs itemscope et itemtype. -->
    <html itemscope itemtype="http://schema.org/Other">

    <!-- Ajoutez les trois balises suivantes dans l'en-tête. -->
    <meta itemprop="name" content="Dev&amp;Co">
    <meta itemprop="description" content="Web Developper Fullstack (frontend &amp; backend) Ruby on Rails">
    <meta itemprop="image" content="http://images.google.fr/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F568437680426328064%2Fcc8u_Pxs.jpeg&amp;imgrefurl=https%3A%2F%2Ftwitter.com%2Fehab_elia&amp;h=1185&amp;w=1185&amp;tbnid=H7eKifK01sSwTM%3A&amp;docid=FAo00qnUlVAdXM&amp;ei=sPOYVp7YBIb5apyJnqgI&amp;tbm=isch&amp;iact=rc&amp;uact=3&amp;dur=505&amp;page=1&amp;start=0&amp;ndsp=40&amp;ved=0ahUKEwie8IXj9avKAhWGvBoKHZyEB4UQrQMILTAE">
    <meta name="description" content="Developper Fullstask (Frontend & backend) Ruby on rails. I worked in different fields like TV, Tourism and Marketing. I'm an adept of open source and militates for a fair sharing economy and society. Conscious of the social and entreprenerial scope of coding, I joined Le Wagon and became a Fullstack developper Ruby on Rails." />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    <!-- Facebook -->
    <meta property="og:title" content="Dev&Co - Developper Web Fullstack Ruby on Rails - Hire me" />

    <!-- Tweeter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:creator" content="@ehab_elia"/>
  
  </head>
  
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>
