<!DOCTYPE html>
<html>
  <head>
    <title>Ehab Elia | Developpeur Web | France</title>
    <%= stylesheet_link_tag    'application', media: 'all' %> 
    <%= csrf_meta_tags %>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Indie+Flower' rel='stylesheet' type='text/css'>
    <!-- Google -->
    <!-- Mettez la balise html à jour pour inclure les attributs itemscope et itemtype. -->
    <html itemscope itemtype="http://schema.org/Other">

    <!-- Ajoutez les trois balises suivantes dans l'en-tête. -->
    <meta itemprop="name" content="DevCompagnion">
    <meta itemprop="description" content="Ehab Elia, freelance RoR web developper  front & backend in Paris - Let's talk about your project">
    <meta itemprop="image" content="https://lh3.googleusercontent.com/-uuSr6utwkUU/AAAAAAAAAAI/AAAAAAAACKc/svot0dliqRI/s120-p-rw-no/photo.jpg">
    <meta name="description" content="Ehab Elia, freelance RoR web developper  front & backend in Paris - Let's talk about your project" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    <!-- Facebook -->
    <meta property="og:title" content="Ehab Elia | Freelance Web Developper" />
    <meta property="og:type" content="Ehab Elia, freelance RoR web developper  front & backend in Paris - Let's talk about your project" />
    <meta property="og:url" content="www.DevCompanion.com" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/-uuSr6utwkUU/AAAAAAAAAAI/AAAAAAAACKc/svot0dliqRI/s120-p-rw-no/photo.jpg" />

    <!-- Tweeter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ehab_elia">
    <meta name="twitter:creator" content="@ehab_elia">
    <meta name="twitter:title" content="Ehab Elia | Freelance Web Developper">
    <meta name="twitter:description" content="Ehab Elia, freelance RoR web developper  front & backend in Paris - Let's talk about your project @ehab_elia">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/568437680426328064/cc8u_Pxs_400x400.jpeg">
  
  </head>
  
  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  
  </body>
</html>
